.section{
    padding-top:70px;
    padding-bottom:70px;

}
a{
    text-decoration: none;
}


.section h2.section-head{
    text-align: center;
    margin-bottom: 40px;
}
#header{
    color: #fff;
    background: rgb(231, 76, 0.7);
}
#menu{
    padding: 0;
    margin: 0;
}
#logo{
    font-size:2rem;
    margin-top: 5px;
}
#menu li{
    display: inline-block;
}
#toogle{
    position: absolute;
    right: 90px;
    top: 20px;
    font-size: 1.35rem;
    display:none;
}
#menu li a{
    padding: 15px 10px;
    display: block;
    color: #fff;
    text-decoration: none;
}
#menu li a:hover{
       background:#c0392b;
}
#banner{
    background: url('./images/banner.jpg') no-repeat 0 0;
    background-size: cover;
}
.banner-title{
    padding:5rem;
}
.banner-title h1{
    background: rgba(255,255,255,0.7);
    display: inline-block;
    padding:10px;
}
.banner-title p.lead{
    background: rgb(231, 76, 0.7);
    color: #fff;
    padding: 10px;

}
.service-box{
    text-align: center;
}
.service-box i.fa{
    font-size:70px;
    color:rgb(231, 76, 0.7);
    margin-bottom:15px;
}
#testimonial{
    background:url('./images/gilles-lambert-pb_lF8VWaPU-unsplash.jpg') no-repeat 0 0;
    background-size: cover;
    color: #fff;
    
 
}
.author,.author-company{
    padding-left:24px;
}
.news-post h3 a{
    font-size: 1.35rem;
    color: #ff4d00;
    padding-top:12px;
}

.news-post img{
    width: 100%;
    border-radius: 10px;
}
a.read-more{
    color: #ff4d00;
    font-size: 1rem;
}
.post-date{
    font-size: 13px;
    margin-bottom:3px;
}
#footer-sidebar{
    background: #2c3e50;
    color: #fff;
    padding: 20px;
}
#social-icon li a.fa{
    padding: 2PX 10PX;
    font-size: 23px;
    color:#fff;
}
#footer{
    background: #152137;
    color: #fff;
    padding:10px 0;
}
@media(max-width:992px){
    .news-post{
        margin-bottom: 30px;
    }

}

@media(max-width:768px){
    #toogle{
        display:inline;

    }
    #menu{
        display:none;
    }
    .banner-title{
        padding:0;
    }
    .banner-title h1{
        font-size: 1.7rem;
    }
    .service-box{
        margin-bottom: 30px;
    }
    .section{
        padding-top:40px;
        padding-bottom:40px;
    }
    .testimonial{
        text-align: center;
        padding: 20px 0;
    }
    .author,.author-company{
        padding-left:4px;
    }
    .news-post{
        margin-bottom: 30px;
    }
    #social-icon li{
        margin-top: 10px;
        text-align: center;
        
    }
    #footer{
        text-align: center;
    }
    .footer-widget{
        margin-bottom: 20px;
    }
}

